.navbar{
    display:flex;
    flex-direction:row;
    padding:10px;
    margin:auto;
    justify-content: space-between;
    width:60%;
}
.cartlogin{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    width:40%;
}